*{
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;

    /* font-family: 'Long Cang', cursive; */

}
@media screen and (max-width: 640px){
nav{
    background-color: rgb(90, 90, 90);

}

nav li{
    display: inline;
    padding-right:1em ; 
    padding-left: 1em;  
}

.header{
background-image: url(/image/frame_gsm.jpg);
background-size: auto;
background-repeat:no-repeat ;
background-position: left top;
padding:4em;
}

h3{
    padding-top: 3em;
    margin-left: 1em ;
    font-size: 1.5em;
}
.trop_chere{
    display: flex;
    justify-content: none;
    flex-direction: column;
    padding: 0;
    

}
.appart1{
    display: block;
    background-color:white;
    text-align: center;
    margin: 1em;
}

.appart2{
    background-color:white;
    text-align: center;
    margin: 1em;
}

.appart3{
    background-color:white;
    text-align: center;
    margin: 1em;
    align-content: space-between;
    padding-bottom: 2em;
}

.sec4{
    background-color: rgb(48, 48, 48);
    display: flex;;
    flex-direction: column
}
.equi{

    padding-right: 0;
    padding-left: 0 ;
    margin: 2em;
    
}

.flex{
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: space-around;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 6em;
}

.shadow1{
    
    display: block;
    
}


.shadow2{

    display: block;
    
}

.it6{
    margin-bottom: 1em;
}

.it3 {

    margin-bottom: 1em;
}

.soumettre{

    margin-left: 8%;
    width: 50%;

}

}

